{% extends 'price_scrape/basePS.html.twig' %}

{% block title %}Price Scrape Tool{% endblock %}

{% block content %}
<style>
th {
    text-align: center;
    padding: 8px;
}
</style>
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Price history</div>
        <div class="card-body">
        <div class="row">
            <div id="chartTitle" class="col-xs-12 col-md-9 mb-3">
                <h1 class="display-3">No device selected</h1>
            </div>
            <div class="col-md-3 mb-4">
                Device<br>
                <select id="select" onchange="getChart(this);">
                    <option value="0">Select a device</option>
                {% for item in items %}
                    <option value="{{ item.id }}">{{ item.device }}</option>
                {% endfor %}
                </select>
            </div>
            </div>
            <div class="row">
            <div id="chart" class="col-xs-6 col-md-9">
                Please select a device.
            </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="jquery/jquery.min.js"></script>
<script src="js/sb-admin-datatables.min.js"></script>
<script src="chart.js/Chart.min.js"></script>
<script>
function getChart(sel) {
    var id = document.getElementById('select').value;
    var dev = sel.options[sel.selectedIndex].innerHTML;
    if(id == 0){
        document.getElementById('chart').innerHTML = "No selected device";
        document.getElementById('chartTitle').innerHTML = "TITLE";
    } else {
        document.getElementById('chartTitle').innerHTML = '<h1 class="display-3">' + dev + '</h1>';
        var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                    document.getElementById('chart').innerHTML = this.responseText;
                }
            };
            xhttp.open("POST", "chart.php", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("idDevice=" + id);
    }
}
</script>

{% endblock %}