<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="shortcut icon" type="image/png" href="img/icon.png"/>
    <!-- Bootstrap core CSS-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <style>
      @font-face{
        font-family: 'EE';
        src: url('font/nobblee_light.woff');
      }
    </style>
  </head>

  <body class="bg-dark">
    <div class="container">
    <div class="text-center">
      <br>
      <img src="img/logo.png" height="150px">
    </div>
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          {% form_theme form 'bootstrap_4_layout.html.twig' %}
          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}
          <div class="text-center">
            <a class="d-block small mt-3 text-dark" href="/register">Register an Account</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="jquery-easing/jquery.easing.min.js"></script>
  </body>
</html>